<%- include("partials/header") %>
<header id="landing">
  <div class = "myNav">   
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
              <a class="navbar-brand" href="/">Osmin Sanabria</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                  <a class="nav-item nav-link active" href="/">About Me <span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="#">Projects</a>
                  <a class="nav-item nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
                </div>
              </div>
        </div>  
    </nav>
  </div>


  <div class="container">
    <div id="title">
      <h1>Osmin Sanabria</h1>
      <hr>
      <h3>Computer Science Student</h3>
    </div>
  </div>
  

</header>
<section id="section1">
  <img class="rounded-circle" src="/img/headshot.JPG">
  <h1>
    About Me
  </h1>
  <hr/>
  <h5>
    I am senior at the University of Arkansas. I am majoring in computer science with an emphasis in web development. Take a look at my projects to see what I have created. Feel free to contact me at any time.

   
  </h5>
</section>

<div id="projects">
  <div class="container">
    <h1 class="white">Projects</h1>
    <hr>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1>Title</h1>
              </div>
              <div class="modal-body">
                When I was in kindergaten my mom was deported. 
              </div>
              <div class="modal-footer">
                <a class="btn btn-success" href="#" data-dismiss="modal">close</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="/img/headshot.jpg" alt="Card image cap">
          
          <div class="card-body">
            <h2 class="card-title">FS Whiteboard</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-success">Open model</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">

    </div>
  </div> 
</div>

<div>
  YOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium eum ducimus labore nobis qui modi commodi necessitatibus voluptatibus sunt recusandae quisquam doloremque quaerat rem molestiae, perspiciatis alias cum iusto. Maiores.
  AHUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU
</div>


  </div>
</div>



<%- include("partials/footer") %>